<div [@routerTransition]>
    <div class="card mb-3">
        <div class="card-header text-white" style="background-color: black;">Alumnos</div>
        <div class="card-body">
    <div class="row m-4">
        <div class="col d-flex justify-content-end">
            <button (click)="alta(content)" class="btn btn-dark">
                <i class="fa fa-plus"></i>
                Agregar Alumno
            </button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <table datatable [dtOptions]="dtOptions"
        class="mt-3 animated fadeIn faster">
        <thead >
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Matricula</th>
          <th scope="col">Carrera</th>
          <th scope="col">Periodo</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let a of alumnos; let i=index ">
            <td>{{ i+1 }}</td>
            <td>{{ a.nombres }}</td>
            <td>{{ a.matricula }}</td>
            <td>{{ a.carrera }}</td>
            <td>{{ a.periodo}}</td>
            <td>
                <button (click)="actualizar(a, content)"
                        class="btn btn-info mr-1">
                        <i class="fa fa-pencil"></i>
                  </button>
                  <button
                       (click)="borrar(a, i)"
                       class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                  </button>
            </td>
        </tr>
      </tbody>
    </table>
</div>

</div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <form (ngSubmit)="guardar(formulario, content)" #formulario="ngForm">
        <div class="modal-header text-center">
            <h4 class="modal-title">Alumnos</h4>
            <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="d('Cross click')"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <i class="fa fa fa-id-card-alt"></i>
                    <label>Nombre(s)</label>
                    <input
                        type="text"
                        class="form-control"
                        required
                        [(ngModel)]="alumno.nombres"
                        name="nombres"
                        placeholder="Nombre(s) del alumno"
                    />
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Apellido paterno</label>
                    <input
                        type="text"
                        class="form-control"
                        required
                        [(ngModel)]="alumno.apellidoPaterno"
                        name="apellidoPaterno"
                        placeholder="Apellido paterno"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label>Apellido materno</label>
                    <input
                        type="text"
                        class="form-control"
                        required
                        [(ngModel)]="alumno.apellidoMaterno"
                        name="apellidoMaterno"
                        placeholder="Apellido materno"
                    />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Matricula</label>
                    <input
                        type="text"
                        class="form-control"
                        required
                        [(ngModel)]="alumno.matricula"
                        name="matricula"
                        placeholder="Matricula"
                    />
                </div>
                <div class="form-group col-md-6 ">
                    <label for="carrera">Periodo</label>
                    <select class="form-control"
                             name="periodo"
                             id="periodo"
                             [(ngModel)]="alumno.periodo"
                       >
                        <option default selected>Seleccione una opción...</option>
                        <option value="Enero-Abril">Enero - Abril</option>
                        <option value="Mayo-Agosto">Mayo - Agosto</option>
                        <option value="Septiembre-Diciembre">Septiembre - Diciembre</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Teléfono</label>
                    <input
                        type="number"
                        class="form-control"
                        required
                        [(ngModel)]="alumno.telefono"
                        name="telefono"
                        placeholder="Teléfono"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label>Correo</label>
                    <input
                        type="email"
                        class="form-control"
                        required
                        [(ngModel)]="alumno.correo"
                        name="correo"
                        placeholder="correo"
                    />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 ">
                    <label for="nivel">Carrera</label>
                    <select class="form-control"
                            name="carrera"
                             id="carrera"
                            [(ngModel)]="alumno.carrera"
                       >

                        <option default selected>Seleccione una opción...</option>
                        <option value="TSU-TIC">Técnico Superior Universitario-TIC</option>
                        <option value="ING-TIC">Ingeniería - TIC</option>
                    </select>
                </div>
                <div class="form-group col-md-6 ">
                    <label for="nivel">Turno</label>
                    <select class="form-control"
                            name="turno"
                             id="turno"
                            [(ngModel)]="alumno.turno"
                       >

                        <option default selected>Seleccione una opción...</option>
                        <option value="M">Matutino</option>
                        <option value="v">Vespertino</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4 ">
                    <label for="nivel">Género</label>
                    <select class="form-control"
                            name="genero"
                             id="genero"
                            [(ngModel)]="alumno.genero"
                       >

                        <option default selected>Seleccione una opción...</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label>Edad</label>
                    <input
                        type="number"
                        class="form-control"
                        required
                        [(ngModel)]="alumno.edad"
                        name="edad"
                        placeholder="edad"
                    />
                </div>
                <div class="form-group col-md-4 ">
                    <label for="nivel">Reingreso</label>
                    <select class="form-control"
                            name="reingreso"
                             id="reingreso"
                            [(ngModel)]="alumno.reingreso"
                       >

                        <option default selected>Seleccione una opción...</option>
                        <option value="Si">Si</option>
                        <option value="No">No</option>
                    </select>
                </div>
            </div>


        </div>
        <div class="modal-footer align-content-center">
            <button
                type="button"
                class="btn btn-secondary"
                (click)="c('Close click')"
            >
                Cerrar
            </button>

            <button
                [disabled]="!formulario.valid"
                class="btn btn-primary"
                type="submit"
            >
                <i class="fa fa-save"></i>
                Guardar
            </button>
        </div>
    </form>
</ng-template>
