<div >
    <div class="card mb-3">
        <div class="card-header text-white" style="background-color: black;">
            Empresas
        </div>
        <div class="card-body">
            <div class="row m-4">
                <div class="col d-flex justify-content-end">
                    <button (click)="open(content)" class="btn btn-dark" mdbBtn>
                        <i class="fa fa-plus"></i>
                        Agregar Empresa
                    </button>
                </div>
            </div>
            <div class="container-fluid">
                <table
                    datatable
                    [dtOptions]="dtOptions"
                    class="mt-3 animated fadeIn faster"
                >
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Rfc</th>
                            <th scope="col">tipo</th>
                            <th scope="col">Calificación</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of empresas; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ e.nombre }}</td>
                            <td>{{ e.rfc }}</td>
                            <td>{{ e.tipo }}</td>
                            <td>{{ e.calificacion }}</td>
                            <td>
                                <button (click)="actualizar(e, content)"
                                        type="button"
                                        color="elegant" mdbWavesEffect
                                        size="sm"
                                         mdbBtn>
                                         <mdb-icon fas icon="edit"></mdb-icon>
                                  </button>
                                  <button
                                       (click)="borrar(e, i)"
                                       size="sm"
                                        color="danger"
                                        mdbBtn>
                                    <i class="fa fa-trash"></i>
                                  </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div
        class="modal-header rounded z-depth-3
                     elegant-color-dark  white-text text-center white-text"
    >
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
            Empresa
        </h4>
        <button
            type="button"
            class="close text-white"
            aria-label="Close"
            (click)="d('Cross click')"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #formulario="ngForm"  (ngSubmit)="guardar(formulario, content)">
        <div class="modal-body">
            <aw-wizard navBarLayout="large-filled">
                <aw-wizard-step
                    [navigationSymbol]="{ symbol: '1' }"
                    stepTitle="Informacion personal"
                >
                    <div class="form-row mt-0">
                        <div class="md-form col-md-12">
                            <mdb-icon
                                fas
                                icon="building"
                                class="prefix grey-text"
                            ></mdb-icon>
                            <label>Nombre</label>
                            <input
                                type="text"
                                class="form-control"
                                required
                                name="nombre"
                                [(ngModel)]="empresa.nombre"
                                mdbInput
                            />
                        </div>
                    </div>
                    <div class="form-row mt-0">
                        <div class="md-form col-md-6">
                            <mdb-icon
                                fas
                                icon="passport"
                                class="prefix grey-text"
                            ></mdb-icon>
                            <label>RFC</label>
                            <input
                                type="text"
                                class="form-control"
                                required
                                name="rfc"
                                [(ngModel)]="empresa.rfc"
                                mdbInput
                            />
                        </div>
                        <div class="md-form col-md-6 ">
                            <mdb-icon
                                fas
                                icon="briefcase"
                                class="prefix grey-text"
                            ></mdb-icon>
                            <label for="nivel">Giro</label>
                            <input
                                type="text"
                                class="form-control"
                                required
                                name="giro"
                                [(ngModel)]="empresa.giro"
                                mdbInput
                            />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 ">
                            <label for="tipo">Tipo</label>
                            <select
                                class="form-control"
                                name="tipo"
                                [(ngModel)]="empresa.tipo"
                            >
                                <option default selected
                                    >Seleccione una opción...</option
                                >
                                <option value="Privado">Privado</option>
                                <option value="Gubernamental"
                                    >Gubernamental</option
                                >
                                <option value="Fundacion">Fundación</option>
                                <option value="Sindicato">Sindicato</option>
                                <option value="Asociacion">Asociacion</option>
                                <option value="Religiosa">Religiosa</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="carrera">Area asignada</label>
                            <select
                                class="form-control"
                                name="areaAsignada"
                                [(ngModel)]="empresa.areaAsignada"
                            >
                                <option default selected
                                    >Seleccione una opción...</option
                                >
                                <option value="Desarrollo">Desarrollo</option>
                                <option value="Soporte">Soporte</option>
                                <option value="Infraestructura"
                                    >Infraestructura</option
                                >
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 ">
                            <label for="carrera">Presencia</label>
                            <select
                                class="form-control"
                                name="presencia"
                                [(ngModel)]="empresa.presencia"
                            >
                                <option default selected
                                    >Seleccione una opción...</option
                                >
                                <option value="Local">Local</option>
                                <option value="Nacional">Nacional</option>
                                <option value="Internacional"
                                    >Internacional</option
                                >
                                <option value="construccion"
                                    >Construcción</option
                                >
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Calificación</label>
                            <input
                                type="text"
                                class="form-control"
                                name="calificacion"
                                [(ngModel)]="empresa.calificacion"
                                placeholder="Calificación"
                            />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="md-form col-md-12">
                            <label>Descripción</label>
                            <textarea
                                type="text"
                                class="md-textarea form-control"
                                required
                                name="descripcion"
                                [(ngModel)]="empresa.descripcion"

                                mdbInput
                            ></textarea>
                        </div>
                    </div>
                    <button type="button" class="btn btn-dark pull-right" mdbBtn awNextStep> Siguiente <mdb-icon fas icon="arrow-circle-right" class="prefix grey-text"></mdb-icon></button>
                </aw-wizard-step>
                <aw-wizard-step
                    [navigationSymbol]="{ symbol: '2' }"
                    stepTitle="Domicilio"
                >
                <div class="form-row mt-0">
                    <div class="md-form col-md-6">
                        <mdb-icon
                            fas
                            icon="road"
                            class="prefix grey-text"
                        ></mdb-icon>
                        <label>Calle</label>
                        <input
                            type="text"
                            class="form-control"
                            required
                            name="calle"
                            [(ngModel)]="empresa.calle"
                            mdbInput
                        />
                    </div>
                    <div class="md-form col-md-3 ">

                        <label for="nivel">No. Exterior</label>
                        <input
                            type="text"
                            class="form-control"
                            required
                            name="noExterior"
                            [(ngModel)]="empresa.noExterior"
                            mdbInput
                        />
                    </div>
                    <div class="md-form col-md-3 ">

                        <label for="nivel">No. Interior</label>
                        <input
                            type="text"
                            class="form-control"
                            required
                            name="noInterior"
                            [(ngModel)]="empresa.noInterior"
                            mdbInput
                        />
                    </div>
                </div>
                <div class="form-row mt-0">
                    <div class="md-form col-md-4">
                        <mdb-icon
                            fas
                            icon="city"
                            class="prefix grey-text"
                        ></mdb-icon>
                        <label>Colonia</label>
                        <input
                            type="text"
                            class="form-control"
                            required
                            name="colonia"
                            [(ngModel)]="empresa.colonia"
                            mdbInput
                        />
                    </div>
                    <div class="md-form col-md-4 ">

                        <label for="nivel">Municipio</label>
                        <input
                            type="text"
                            class="form-control"
                            required
                            name="munincipio"
                            [(ngModel)]="empresa.municipio"
                            mdbInput
                        />
                    </div>
                    <div class="md-form col-md-4 ">

                        <label for="nivel">Codigo Postal</label>
                        <input
                            type="number"
                            class="form-control"
                            required
                            name="cp"
                            [(ngModel)]="empresa.cp"
                            mdbInput
                        />
                    </div>
                </div>
                <button type="button" class="btn btn-dark pull-left" mdbBtn awPreviousStep><mdb-icon fas icon="arrow-circle-left" class="prefix grey-text"></mdb-icon> Regresar</button>
                </aw-wizard-step>
            </aw-wizard>
        </div>

        <div class="modal-footer align-content-center">
            <button
                type="button"
                class="btn btn-secondary"
                (click)="c('Close click')"
            >
                Cerrar
            </button>

            <button
                [disabled]="!formulario.valid"
                class="btn btn-primary"
                type="submit"
            >
                <i class="fa fa-save"></i>
                Guardar
            </button>
        </div>
    </form>
</ng-template>
